.Recipe {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Recipe figure,
h5 {
  margin: 0 0;
}

.Vote {
  color: #f85032;
}

.Vote:hover {
  color: #2142b2;
}

.DownVote:hover {
  color: #f85032;
}

.UpvoteOutline:hover {
  color: #f85032;
}

.DownVoteOutline:hover {
  color: #f85032;
}
